
<form method="post">
    <div class="form-group">
        <input type="text" name="CategoryName" placeholder="Name Az" />
        <input name="LangCode" type="hidden" value="Az" />
    </div>
    <div class="form-group">
        <input type="text" name="CategoryName" placeholder="Name Ru" />
        <input name="LangCode" type="hidden" value="Ru" />
    </div>
    <div class="form-group">
        <input type="text" name="CategoryName" placeholder="Name Eng" />
        <input name="LangCode" type="hidden" value="Eng" />
    </div>
    <input type="submit"  value="Create" />
</form>